.LoginPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginSection{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    border: solid 1px var(--laranja);
    border-radius: 4px;
    margin-top: 5%;
}

.LoginTitle{
    font-size: 2rem;
    background-color: var(--azul-dois);
    border-bottom: 2px solid var(--laranja);
    color: black;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.LoginFormRow{
    margin-top: 5%;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.LoginButton{
    background-color: var(--azul-tres);
    border: solid 1px var(--azul-dois);
    border-radius: 4px;
    padding: 6px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
    width: 50%;
}

.LoginButton:hover{
    background-color: var(--azul-dois);
    border: solid 1px var(--azul-tres);
    transition: 0.3s;
}

.LinkPassword{
    color: var(--azul-dois);
    font-size: 0.8rem;
    color: var(--laranja);
}

.LoginButtonGoogle{
    background-color: var(--azul-um);
    border: solid 1px var(--azul-dois);
    border-radius: 4px;
    padding: 6px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
}