*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --cor-principal: #BCA1E6;
    --cor-secundaria: #745C99;
    --cor-fundo: #E0CCFF;
    --cor-amarelo: #E6E277;
    --cor-marrom: #9E9D7B;
    --cor-fonte-preta: #0000;
    --cor-fonte-branca: #FFFF;


}