.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0px;
  border: none;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

