body {
  margin: 0;
  padding: 0px;
  border: none;
  height: 90vh;
  
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --azul-um: #2F7994;
  --azul-dois: #AFE6FA;
  --azul-tres: #5EBEE0;
  --marrom: #9E8B77;
  --laranja: #E0A96E; 

  background-color: black;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
