.BooksList{
    width: 100%;

    display: flex;
    flex-direction: column;
    border: solid 1px var(--laranja);
    border-radius: 4px;
    margin-top: 2%;
}

.BooksListFigure{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 12px;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem  1rem var(--laranja);
    transition: 0.2s;
    width: 30rem;
}

.BooksListFigure:hover{
    box-shadow: 0.3rem 0.3rem  1rem var(--azul-dois);
    transition: 0.2s;
    width: 30rem;
}